<h1>About us</h1>
<h2>Bike Berlin is a modern, innovative, accessible site for buying and selling used bicycles, which offers multiple options to access to your vehicle..</h2>
<h3>We want to create a trend in online sales through our system of agile product rotation, payment facilities and fast shipping.</h3)
