// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General styles
* {
  box-sizing: border-box;
  /* border: solid #D64078 2px; */
}

html, body{
  background: white;
  margin: 0 px;
  width: 100%;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.navbar {
  border: none;
  font-weight: bold;
 }

h1  {
  font-weight: bold;
  color: #1248ba;
  text-align: center;
}

#headline {
//  background-color: #197278;
  margin-top: 0;
  padding: 60px;
  width: 100%;
}

#footer {
  background-color: #242323;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 50px;
  padding-top:10px;
  display: block;
  overflow: auto;
  text-align: center;
  float: left;
  margin-top: 50px;
  font-weight: bold;
}


//Home page
#home ul {
  padding-right: 20px;
  float: right;
  color: black;
  font-weight: bold;
}

#home h2 {
  color: black;
  text-align: center;
}

#home {
  background-color: #b4dfe5;
}

.my-image { //how to center images with css
  display: block;
  margin:auto;
}
//About page

#about {
  background-color: #white;
}
#about h1, h2, h3 {
  font-weight: bold;
  text-align: center;
}
#about ul {
  float: right;
  color: black;
}

//Contact page
#contact {
  background-color: lightblue;
  font-size: 2em;
}
#contact ul {
  float: right;
}
#contact h1 {
  font-weight: bold;
  text-align: center;
  color: red;
}

p {
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
}

/* Product tiles */

.list-content img {
  align-self: center;

}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.list-item {
  display: flex;
  padding: 0.5em;
	width: 100%;
}

@media all and (min-width: 40em) {
  .list-item {
  width: 50%;
  }
}
@media all and (min-width: 60em) {
  .list-item {
    width: 33.33%;
  }
}

.list-content {
   display: flex;
   background-color: #fff;
   padding: 1em;
   width: 100%;
}

/* Styling product images */

.img-product {
  padding: 10px;
  max-height: 400px;
  // margin: 0 auto;
}

@media (min-width: 768px) {
  .img-product {
    max-height: 350px;
  }
}

@media (min-width: 992px) {
  .img-product {
    max-height: 265px;
  }
}

/* Carousel */

.carousel-inner {
  background-color: white;
}

.carousel-inner > .item > img{
  margin:auto;
  padding: 25px;
}

.carousel-control.left,
.carousel-control.right {
  background: none;
  opacity: 1;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
  background: none;
  opacity: 1;
}

.carousel-control .glyphicon {
  color: #182628;
  opacity: 1;
}

.carousel-control .glyphicon:hover {
  color: #57ba98;
}

.carousel-indicators li {
  background-color: #182628;
}

.carousel-indicators li:hover {
  background-color: #43c5f6;
}

.carousel-indicators li.active {
  background-color: #43c5f6;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  text-shadow: none;
  margin-bottom: 10px;
}

/* ORDERS SHOW */

.order_information strong {
	font-size: 1.2em;
}

.order_information {
	text-align: left;
}
.order_information h2 {
	margin-bottom: 100px;
}

.order-info {
	border: 3px solid black;
	width: 250px;
	margin: 0 auto;
	padding: 15px;
	border-radius: 10px;
  text-align: left;
}
