// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General styles
html, body{
  background: white;
  margin: 0 px;
  width: 100%;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.navbar {

   border: none;
   font-weight: bold;


 }

h1  {
  font-weight: bold;
  color: #1248ba;
  text-align: center;
}

#footer {
  background-color: #242323;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 50px;
  padding-top:10px;
  display: block;
  overflow: auto;
  text-align: center;
  float: left;
  margin-top: 50px;
  font-weight: bold;
}


//Home page
#home ul {
  padding-right: 20px;
  float: right;
  color: black;
  font-weight: bold;
}

#home h2 {
  color: black;
  text-align: center;
}

#home {
  background-color: #b4dfe5;
}

.my-image { //how to center images with css
  display: block;
  margin:auto;
}
//About page

#about {
  background-color: #white;
}
#about h1, h2, h3 {
  font-weight: bold;
  text-align: center;
}
#about ul {
  float: right;
  color: black;
}

//Contact page
#contact {
  background-color: lightblue;
  font-size: 2em;
}
#contact ul {
  float: right;
}
#contact h1 {
  font-weight: bold;
  text-align: center;
  color: red;
}

p {
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
}
