<div class="container-fluid" id="catalog">

  <h1 id="headline">Products</h1>
  <p id="notice"><%= notice %></p>

  <div class="row">

    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>

  </div><!-- End div class row -->

  <%= link_to 'New Product', new_product_path , class: "btn btn-default" %>

  <div class="pagination-container">

  </div>

</div><!-- End div class container -->
