<p id="notice"><%= notice %></p>
<h1>Products</h1>

<div class="container-fluid">

    <% @products.each do |product| %>

    <div class="list">
     <%= render product %>
    </div><!-- end div class row -->

    <% end %>

</div><!-- end div class container -->


<%= link_to 'New Product', new_product_path %>
<br>
